<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <div class="container">
      <%= render "layouts/flash" %>
      <%= yield %>
    </div>
  </body>
</html>
